$box-shadow: 0 0 10px 0px rgba(0, 0, 0, .05);

$toggle-size: 4rem;
$toggle-padding: 1rem;
$toggle-height: $toggle-size - ($toggle-padding * 2);
$toggle-width: $toggle-size - ($toggle-padding * 2);

$transition-all: all .25s linear;

.wa-widget-group,
.wa-widget {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.wa-widget-group {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;

    .wa-widget {
        position: relative;
        margin-right: 1rem;
        right: 0;
        bottom: 0;
        

        &:last-child {
            margin-right: 0;
        }
    }
}

.wa-widget {
    transition: $transition-all;

    &.expanded {
        border-radius: 1rem;
    }
}

.wa-widget-toggle {
    background-color: gray;
    padding: 1rem;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: 9rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    cursor: default;
    transition: $transition-all;
    float: right;
}

.wa-widget-content {
    max-width: 380px;
    position: relative;
    background-color: #ecf1f3;
    overflow: hidden;
    height: auto;
    transition: $transition-all;
    display: none;
    border-radius: .75rem;
    position: absolute;
    bottom: $toggle-size + 1rem;

    &.expanded {
        display: block;
        right: 0;
        width: max-content;
    }
}

.chat-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: $box-shadow;

    .chat-admin-picture {
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
    }

    h3,
    p {
        margin: 0;
    }
}

.chat-content {
    padding: 1rem;

    .chat-admin-picture {
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
    }
}

.chat-item {
    display: inline-flex;
    align-items: end;

    p {
        margin: 0 0 .5rem;
        padding: 1rem;
        background-color: white;
        border-radius: 1rem;
        box-shadow: $box-shadow;

        &:first-child {
            border-top-left-radius: 0;
        }
    }
}

.chat-form {
    background-color: white;
    display: flex;
    box-shadow: $box-shadow;

    input {
        width: 100%;
        height: 3rem;
        padding: 1rem;
        background-color: inherit;
    }

    input,
    input:focus {
        border: 0;
        outline: 0;
    }

    .chat-send {
        border: 0;
        outline: 0;
        padding: 1rem;
        background-color: inherit;
        cursor: pointer;
    }
}