// Toggle Variables
$toggle-background-color: white;
$toggle-size: 4rem;
$toggle-padding: 1rem;
$toggle-height: $toggle-size - ($toggle-padding * 2);
$toggle-width: $toggle-size - ($toggle-padding * 2);
$toggle-online-indicator-size: 10px;

// Widget Variables
$widget-font-family: Helvetica, Arial, sans-serif;
$widget-font-size: 15px;
$widget-header-background-color: rgb(9, 94, 84);
$widget-header-color: white;
$widget-header-online-indicator-size: 7px;
$widget-content-background-color: #d1ecd4;

$whatsapp-green: #4fce5d;

$box-shadow: 0 0 10px 5px rgba(0, 0, 0, .1);

$transition-all: all .25s linear;

.wa-widget-group,
.wa-widget {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.wa-widget-group {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;

    .wa-widget {
        position: relative;
        margin-right: 1rem;
        right: 0;
        bottom: 0;
        

        &:last-child {
            margin-right: 0;
        }
    }
}

.wa-widget {
    transition: $transition-all;
    font-family: $widget-font-family;
    font-size: $widget-font-size;

    &.expanded {
        border-radius: 1rem;
    }
}

.wa-widget-toggle {
    background-color: $toggle-background-color;
    padding: 1rem;
    height: $toggle-height;
    width: $toggle-width;
    border-radius: 9rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    cursor: default;
    transition: $transition-all;
    float: right;
    box-shadow: $box-shadow;
    position: relative;

    &::before {
        content: '';
        height: $toggle-online-indicator-size;
        width: $toggle-online-indicator-size;
        top: $toggle-online-indicator-size / 2;
        right: $toggle-online-indicator-size / 2;
        position: absolute;
        background-color: red;
        border-radius: $toggle-online-indicator-size;
    }
}

.wa-widget-content {
    width: 360px;
    position: relative;
    background-color: $widget-content-background-color;
    overflow: hidden;
    height: auto;
    transition: $transition-all;
    visibility: hidden;
    border-radius: .75rem;
    position: absolute;
    bottom: $toggle-size + 1rem;
    box-shadow: $box-shadow;
    opacity: 0;
    right: 0;

    &.expanded {
        opacity: 1;
        visibility: visible;
    }
}

.chat-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: $widget-header-background-color;
    color: $widget-header-color;

    .chat-admin-picture {
        height: 3rem;
        width: 3rem;
        margin-right: 1rem;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        &::before {
            content: '';
            height: $widget-header-online-indicator-size;
            width: $widget-header-online-indicator-size;
            border-radius: $widget-header-online-indicator-size;
            background-color: $whatsapp-green;
            border: 2px solid $widget-header-background-color;
            position: absolute;
            bottom: $widget-header-online-indicator-size / 3;
            right: $widget-header-online-indicator-size / 3;
        }
    }

    h4,
    p {
        margin: .2rem;
    }
}

.chat-content {
    padding: 1rem;

    .chat-admin-picture {
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
    }
}

.chat-item {
    display: inline-flex;
    align-items: end;

    p {
        margin: 0 2rem .5rem 0;
        padding: 1rem;
        background-color: white;
        border-radius: 1rem;

        &:first-child {
            border-top-left-radius: 0;
        }
    }
}

.chat-form {
    background-color: white;

    textarea,
    input {
        width: 100%;
        padding: .75rem 1rem;
        background-color: inherit;
        font-family: inherit;
        resize: none;
    }

    textarea,
    input,
    input:focus {
        border: 0;
        outline: 0;
    }

    .chat-send {
        border: 0;
        outline: 0;
        padding: .75rem;
        width: 100%;
        font-weight: bold;
        font-size: 1.1rem;
        background-color: $whatsapp-green;
        color: white;
        cursor: pointer;
    }
}